<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dosirak.jsb.mapper.CartMapper">
<select id="cartList" parameterType="int" resultType="com.dosirak.common.vo.CartVO">
		select * from tbl_carts
	</select>
</mapper>