<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dosirak.jsb.mapper.OrderMapper">
	<select id="orderList" parameterType="String" resultType="com.dosirak.common.vo.OrderVO">
		select * from tbl_orders
		where member_id = '${id}'
		order
		by order_date
	</select>
</mapper>