<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dosirak.hjh.mapper.BoardMapper">

  <!--     select * from tbl_boards2 -->
  <!--     order by board_no -->
 
 <select id="boardList" resultType="com.dosirak.common.vo.BoardVO">
     select *
     from tbl_boards2 b
  </select>
  


	<select id="boardListPaging" parameterType="com.dosirak.common.vo.SearchVO">
		select r.*
		from( select rownum rn, a.*
			from (select b.*, (select count(1) from tbl_replyes2 r where r.board_no = b.board_no) as "reply_cnt"
				from tbl_boards2 b
				where 
				<choose>
				<when test="searchCondition == 'T'.toString() ">
				board_title like '%'||#{keyword}||'%'
				</when>
				<when test="searchCondition == 'W'.toString() ">
				member_id like '%'||#{keyword}||'%'
				</when>
				<otherwise>
				board_title like '%'||#{keyword}||'%'
				or
				member_id like '%'||#{keyword}||'%'
				</otherwise>
				</choose>
				order by b.board_no desc) a
				<![CDATA[
			where rownum<=(#{page} * 10)) r				
				]]>
		where r.rn > (#{page} -1) * 10
	</select>
	
	<select id= "getTotalCnt" resultType="int" parameterType="com.dosirak.common.vo.SearchVO">
	select count(1) from tbl_boards2 
				where 
				<choose>
				<when test="searchCondition == 'T'.toString() ">
				board_title like '%'||#{keyword}||'%'
				</when>
				<when test="searchCondition == 'W'.toString() ">
				member_id like '%'||#{keyword}||'%'
				</when>
				<otherwise>
				board_title like '%'||#{keyword}||'%'
				or
				member_id like '%'||#{keyword}||'%'
				</otherwise>
				</choose>
	
	</select>
	
	<insert id="insertBoard" parameterType="com.dosirak.common.vo.BoardVO">
		insert into tbl_boards2(board_no, category, board_title, board_content)
		values (board2_seq.nextval,#{category},#{boardTitle},#{boardContent})
  </insert>
	
	<select id ="selectBoard" parameterType="int" resultType="com.dosirak.common.vo.BoardVO">
	select * from tbl_boards2
	where board_no = #{boardNo}
	</select>
	
	<update id="updateViewCnt"  parameterType="int" >
	update tbl_boards2
	set board_views = board_views +1
	where board_no = #{boardNo}
	</update>
	
		
	<update id="updateBoard"  parameterType="com.dosirak.common.vo.BoardVO" >
	update tbl_boards2
	set board_title = #{boardTitle} , board_content = #{boardContent}
	where board_no = #{boardNo}
	</update>
	
		
	<delete id="deleteBoard"  parameterType="int" >
	delete tbl_boards2
	where board_no = #{boardNo}
	</delete >
	
	
</mapper>