<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dosirak.ksh.mapper.MemberMapper">

<insert id="addMember" parameterType="com.dosirak.common.vo.TmemberVO">
    insert into tbl_members (member_id, member_pw, name, phone_num, email,birthdate)
    values(#{memberId}, #{memberPw}, #{name}, #{phoneNum}, #{email},#{birthDate})
  </insert>

<select id="checkMember" resultType="int" parameterType="String">
    select count(1) from tbl_members
    where member_id = #{id}
  </select>


<select id="tselectMember" resultType="int" parameterType="String">
    select count(1)
    from tbl_members
    where member_id = #{id}
    and   member_pw = #{pw}
  </select>
 <select id="getMember" resultType="com.dosirak.common.vo.TmemberVO" parameterType="String">
 select *
 from tbl_members
 where member_id = '${value}'
 </select>
</mapper>